body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(0.5);
    letter-spacing: 4px;
}
.btn{
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 25px;
    border: 4px solid;
    cursor: pointer;
    transition: 1s background-color;
}
.btn:hover{
    background-color: white;
    color: black;
}
.split{
    width: 50%;
    height: 100%;
    top: 0;
}
.split.left{
    position: absolute;
    left: 0;
    background-color: pink;
    background-image: url(https://m.media-amazon.com/images/I/61J9KUops4L._AC_UF1000,1000_QL80_.jpg);
    background-size: 100% 100%;
}
.split.right{
    position: absolute;
    right: 0;
    background-color: lightblue;
    background-image: url(https://m.media-amazon.com/images/I/71nj3tkXZXL._AC_UF894,1000_QL80_.jpg);
    background-size: 100% 100%;
}